.he-con {
    background-color: #DDEBFD;
    height: 60px;
    padding: 20px 100px;
    color: #409EFF;
    display: flex;
    flex-direction: row;
    line-height: 20px;
    font-size: 20px;
    box-shadow: 10px 5px 5px #BBC9DB;
}

.he-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.he-icon-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.he-right {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    cursor: default;
    margin-left: 500px;
}

.he-signout {
    width: 20px;
    height: 20px;
    margin-left: 80px;
}

.he-records, .he-account {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.he-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.he-top-input {
    margin-bottom: 20px;
}

.he-top-input, .he-bto-input {
    width: 200px;
}


