.man-add {
    width: 140px;
    height: 200px;
    border-radius: 10px;
    border: 2px dashed rgb(59, 93, 79);
    margin: 30px 43px;
    position: relative;
}

.add-column {
    width: 2px;
    background-color: rgb(59, 93, 79);
    height: 140px;
    position: absolute;
    top: 30px;
    left: 50%;
}

.add-row {
    height: 2px;
    background-color: rgb(59, 93, 79);
    width: 116px;
    position: absolute;
    top: 50%;
    left: 10px;
}

.man-input {
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    margin-bottom: 10px;
}

.man-label {
    width: 40px;
    line-height: 30px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif !important;
}

.man-input-inner {
    width: 150px;
}

.man-inputnumber-inner {
    width: 70px;
}

.man-upload {
    margin-left: 170px;
}

.man-btn {
    margin-top: 10px;
}

